/*resets*/
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: #4d4d4d;
}

/*custom reusable classes*/
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

/*search container*/
.search__container {
  min-width: 300px;
  max-width: 800px;
  margin: 1rem auto;
}

/*search bar*/
.search__container > input[name="search"] {
  width: calc(100% - 3.5rem);
  border: 0;
  background-color: #e6e6e6;
  color: #848484;
  font-size: 1.5rem;
  height: 35px;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
}
.search__container > input[name="search"]:focus {
  background-color: #fff;
  border-bottom: 1px solid #333;
}
.search__icon {
  top: 30px;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: #848484;
  z-index: 1;
}

/* search results wrapper */
.search__results-container {
  max-height: 350px;
  overflow: auto;
}

/*search-card*/
.search__result-card {
  background: #fefefe;
}
.search__result-card:not(.no-result) {
  padding: 1rem;
  border-bottom: 1px solid #333;
  cursor: pointer;
}
.search__result-card:not(.no-result):hover {
  background: #fffd6e;
}
.search__result-card.no-result {
  padding: 3rem;
  font-size: 1.2rem;
  text-align: center;
  color: rgb(99, 98, 98);
}
#cancel-search {
  top: -2.3rem;
  font-size: 1.5rem;
  right: 1rem;
  opacity: 0.5;
  cursor: pointer;
}

.result-data .id {
  margin: 0;
}
.result-data .address {
  margin: 1rem 0;
}
.result-data .items {
  margin: 0.3rem 0;
  border-top: 1px solid rgba(15, 15, 15, 0.3);
  border-bottom: 1px solid rgba(15, 15, 15, 0.3);
  padding: 0.2rem 0.2rem 0.2rem 1rem;
}
.result-data .items::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #5252f0;
  position: absolute;
  top: 0.5rem;
  left: 0;
}
